# Various IDEs and Editors
.vscode/
.idea/
.sqlx/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# rust
target/
node_modules/
.anchor/
solana-release/

# environment variables
.env
.env.prod

*.md
*.lock


Cargo.toml
yarn.lock
Cargo.lock
Anchor.toml
.log
.gitignore
.zencoder/
.vscode/
.anchor/
target/
test-ledger/
node_modules/
M1_2_testing_result/
solana-token-metadata/package-lock.json
setup_contract.sh
tests/
yarn.lock
validator.log
yarn.lock
test_pda.js
scripts/calc_rent.sh
yarn.lock
export_db.sh
database_export/
.csv
frontend/src/pages/landing/index.tsx
