# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# rust
target/
node_modules/
.anchor/
solana-release/

# environment variables
.env
.env.prod

*.md


Cargo.toml
yarn.lock
Cargo.lock
Anchor.toml
.gitignore
.zencoder/
.vscode/
.anchor/
target/
test-ledger/
node_modules/
M1_2_testing_result/
